body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.one {
    width: 50%;
    padding-left: 5%;
}

.two img {
    width: 100%;
}

.click-button {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    background-image: linear-gradient(orange, tomato);
}

.banner-img {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.down-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.last-part {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experiences-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 5px;




}

#web-dev-exp {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;

}

footer p {
    text-align: center;
}